.light {
  --bg-color: var(--light-color);
}

.dark {
  --bg-color: var(--dark-color);
  background: var(--dark-color);
}
.navbar {
  background-color: var(--color1);
  height: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  gap: 1em;
  align-items: center;
  padding: 1rem 1rem;
  box-shadow: 0 0 5px var(--color2);
}

.navbar a {
  text-decoration: none;
  color: var(--color3);
  font-size: var(--navbar-text-size);
  /* text-shadow: 1px 1px 2px #fffb00; */
}

.navbar .left-side-navbar {
  display: flex;
  flex: 50%;
  margin: 1em;
  gap: 2.5em;
}

.navbar .right-side-navbar {
  display: flex;
  flex: 50%;
  margin: 1em;
  gap: 2.5em;
}
.toggle-theme-button {
  /* margin-right: 2em;
  background-color: transparent;
  font-size: var(--navbar-text-size-button);
  border: none;
  color: red; */
  display: "flex";
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 15;
  color: orange;
  padding-right: 2;
}
.search {
  width: 50%;
  height: 2rem;
  box-shadow: 0 0 5px white;
  padding: 0 1rem;
  background-color: var(--search-bg-color);
  color: var(--search-text-color);
  font-size: 2rem;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
  caret-color: teal;
}
.search:focus {
  outline: none;
}
.searchBtn {
  border: 0;
  width: 4rem;
  height: 2rem;
  cursor: pointer;
  background-color: var(--search-bg-color);
  /* color: var(--color3); */
  color: var(--search-text-color);
  box-shadow: 0 0 5px var(--search-text-color);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  /* border: 2px solid #000000; */
}
.search-container {
  display: flex;
}

.sidebutton {
  display: none;
  margin-left: 20px;
  font-size: 50px;
}
.activeTab {
  border-bottom: 4px solid cornflowerblue;
}

@media only screen and (max-width: 680px) {
  /* a */
  /* ,.navbar right-side-navbar a { */
  /* display: none;
  } */
  .link-container {
    display: none;
    /* transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out; */
  }

  .search {
    width: 10rem;
  }
  #hidden {
    position: absolute;
    top: 40px;
    left: 0;
    height: auto;
    width: 100%;
    max-height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.3em;
    background-color: var(--color1);
    z-index: 100;
    transform: scale(1, 1);
  }
  .right-side-navbar#hidden {
    box-shadow: 1px 1px 1px var(--color2);
    top: 10px;
    position: absolute;
  }
  .sidebutton {
    /* position: absolute;
    top: 0;
    left: 0; */
    /* margin-left: 0.5em; */
    /* margin-top: 0.1em; */
    display: flex;
    align-items: center;
    z-index: 10;
    background-color: rgb(23, 143, 235);
  }
  .navbar {
    border-radius: none;
    box-shadow: none;
  }
  .navbar .right-side-navbar {
    margin: 0;
    gap: 0;
    background-color: var(--color1);
  }
  .navbar .left-side-navbar {
    margin: 0;
  }
}
